<!DOCTYPE html>
<html>

<head>
    <title>七牛公共云</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- bootstrap -->
    <link href="lib/css/bootstrap/bootstrap.css" rel="stylesheet"/>
    <link href="lib/css/bootstrap/bootstrap-responsive.css" rel="stylesheet"/>
    <link href="lib/css/bootstrap/bootstrap-overrides.css" type="text/css" rel="stylesheet"/>

    <!-- global styles -->
    <link rel="stylesheet" type="text/css" href="lib/css/layout.css"/>
    <link rel="stylesheet" type="text/css" href="lib/css/elements.css"/>
    <link rel="stylesheet" type="text/css" href="lib/css/icons.css"/>
    <link rel="stylesheet" type="text/css" href="lib/css/magnific-popup.css">
    <!-- libraries -->
    <link href="lib/css/lib/font-awesome.css" type="text/css" rel="stylesheet"/>

    <!-- this page specific styles -->
    <link rel="stylesheet" href="lib/css/compiled/tables.css" type="text/css" media="screen"/>

    <!-- open sans font -->
    <link href='http://fonts.useso.com/css?family=Open+Sans:300italic,400italic' rel='stylesheet' type='text/css'/>

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>

<body ng-app="myapp">

<!-- navbar -->
<div class="navbar navbar-inverse" ng-controller="navbarCtrl">
    <div class="navbar-inner">
        <button type="button" class="btn btn-navbar visible-phone" id="menu-toggler">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <a class="brand" href="">
            <img src="lib/img/qn.png" style="height:25px;"/>
        </a>

        <ul class="nav pull-right">
            <li class="dropdown">
                <a href="" class="dropdown-toggle hidden-phone" data-toggle="dropdown">
                    <img src="http://www.gravatar.com/avatar?d=monsterid" style="height:25px;"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{username}}
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="" data-toggle="modal" data-target="#myModal">切换公共bucket</a>
                        <a href="" ng-click="clearBucketInfo()">清除bucket信息</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<!-- end navbar -->

<!-- sidebar -->
<div id="sidebar-nav" ng-controller="sidebarCtrl">
    <ul id="dashboard-menu">
        <li ng-class="{active: isDefault}">
            <a href="#" ng-click="film()">
                <div ng-if="isDefault" class="pointer">
                    <div class="arrow"></div>
                    <div class="arrow_border"></div>
                </div>
                <i class="icon-film"></i>
                <span>视频</span>
            </a>
        </li>
        <li ng-class="{active: isAudio}">
            <a href="#/music" ng-click="audio()">
                <div ng-if="isAudio" class="pointer">
                    <div class="arrow"></div>
                    <div class="arrow_border"></div>
                </div>
                <i class="icon-music"></i>
                <span>音频</span>
            </a>
        </li>
        <li ng-class="{active: isPicture}">
            <a href="#/picture" ng-click="picture()">
                <div ng-if="isPicture" class="pointer">
                    <div class="arrow"></div>
                    <div class="arrow_border"></div>
                </div>
                <i class="icon-picture"></i>
                <span>图片</span>
            </a>
        </li>
        <li ng-class="{active: isSum}">
            <a class="dropdown-toggle ui-elements" href="#">
                <div ng-if="isSum" class="pointer">
                    <div class="arrow"></div>
                    <div class="arrow_border"></div>
                </div>
                <i class="icon-tasks"></i>
                <span>&nbsp;&nbsp;&nbsp;其他</span>
                <i class="icon-chevron-down"></i>
            </a>
            <ul class="submenu">
                <li><a href="#/all" ng-click="sum()">所有文件</a>
                </li>
                <li><a href="#/upload" ng-click="sum()">上传文件</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
<!-- end sidebar -->


<!-- main container -->
<div class="content">
    <ng-view></ng-view>
</div>
<!-- end main container -->

<div class="modal fade hide" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-controller="modalCtrl">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">x
        </button>
        <h4 class="modal-title" id="myModalLabel">切换公共Bucket</h4>
    </div>
    <div class="modal-body">
        <form role="form">
            <div class="form-group">
                <label>Public Bucket</label>
                <input type="text" class="form-control input-block-level" ng-model="bucketname" placeholder="Public Bucket">
            </div>
            <div class="form-group">
                <label>Secret Key</label>
                <input type="password" class="form-control input-block-level" ng-model="sk" placeholder="Secret Key">

                <p class="text-success" ng-show="sk">当前Secret Key: {{sk}}</p>
            </div>
            <div class="form-group">
                <label>Access Key</label>
                <input type="password" class="form-control input-block-level" ng-model="ak" placeholder="Access Key">

                <p class="text-success" ng-show="ak">当前Access Key: {{ak}}</p>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal">关闭</button>
        <button class="btn btn-primary" data-dismiss="modal" ng-click='setOptions()'>确定</button>
    </div>
</div>
<!-- scripts -->
<script src="http://libs.useso.com/js/jquery/1.11.1/jquery.min.js"></script>
<script src="lib/js/bootstrap.min.js"></script>
<script src="lib/js/theme.js"></script>

<script src="lib/js/popcorn-complete.min.js"></script>
<script src="lib/js/notify.min.js"></script>
<script src="lib/js/jquery.magnific-popup.min.js"></script>

<!--angularjs-->
<script src="lib/js/angular/angular.min.js"></script>
<script src="lib/js/angular/angular-route.min.js"></script>
<script src="lib/js/angular/angular-resource.min.js"></script>

<script src="js/app.js"></script>
<script src="js/routes.js"></script>
<script src="js/factory.js"></script>
<script src="js/controllers.js"></script>

</body>

</html>